@charset "UTF-8";
.t-1{
    color: #000000;
}
.t-2{
    color: #ffffff;
}
.t-2{
    color: #5A646D;
}
.t-4{
    color: #A6B5C2;
}
.t-5{
    color: #414AF1;
}
.bg-1{
    background-color: #BAFAD9;
}
.bg-2{
    background-color: #6B0000;
}
.bg-3{
    background-color: #B7B7B7;
}
